body{
    background-color: beige;
}
h2{
    color:blue;
}    
button{
    background-color: blue;
    color:white;
    border-radius:30px;
    padding: 10px 20px;
    font-size:20px;
}
border:hover{
    background-color:aqua;
    color:black;
}